* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
   }

   input, button {
    outline: 0;
  }

html {
  font-size: 62.5%;  
}

@media (max-width: 1080px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 790px) {
  html {
    font-size: 52%;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 48%;
  }
}

@media (max-width: 510px) {
  html {
    font-size: 45%;
  }
}

html, body {
  width: 100%;
  height: 100%;  
}

header.main-header{
  display: flex;
  height: 46px;
  width: 100%;
  background: #64dd17;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  position: relative;
  z-index: 1;
}

header.main-header div {
  display: flex;
  align-items: center;
  justify-content: center;  
  height: 100%; 
}

header.main-header strong {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  background: #52b912;
  height: 100%;
}

header.main-header span{
  font-size: 1.5rem;
}

div.main {
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background: #fff url('../images/background.svg') no-repeat right top;
  background-size: cover;
  
}

div.main h1 {
  font-size: 5.5rem;
  margin-bottom: 2rem;  
}

div.main p {
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;  
}

div.main button {
 font-size: 2.2rem;
 color: #fff;
 background: #52b912;
 border:1px solid #18ab29;
 border-radius: 42px;
 text-align: center;
 text-decoration: none;
 padding:10px 25px;
}

div.membros {
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
}

div.projetos {
  background: #7ef037;
  height: 100%;
  display: flex;
  justify-content: center;
}

footer {
  height: 25%;
  background: #091600;
}

