* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  display: flex;
  flex-direction: column;
}

input, button {
  outline: 0;
}

a {
  color: #21272b;
}

header.main-header{
  display: flex;
  height: 46px;
  width: 100%;
  background: #64dd17;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  position: relative;
  z-index: 1;
}
header.main-header div {
  display: flex;
  align-items: center;
  height: 100%;
}
header.main-header strong {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  background: #52b912;
  height: 100%;
}

div.content{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 1;  
  background: linear-gradient(#86eb48, #aaf77a)
}

div.content img {
  height: 20rem;
}

div.content p {
  margin-top: 15px;
}

div.content div{
  margin-top: 30px;
  display: flex;
}
div.content div img {
  height: 3rem;
  margin-right: 15px;
}

footer {
  
}




