:root {
  --main-bg-color-primary:#52b912;
  --main-bg-color-secudary:#41970c;
  --font-color-black: #262626;
  --font-color-gray: #4d4d4d;
  --font-color-white: #fff;


  --font-color-pink: #F896C3;
  --font-color-Cheese: #F7AF95;
  --font-color-Orange: #F8CA91;
  --font-color-Yellow: #F8E2AA; 
}

* {
  margin: 0;
  padding: 0;
}

/*
html, body {
  max-width: 1200px;
  margin: 0 auto;
  background: #a8e781;
}*/

html, body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-family: sans-serif; 
  width: 100%;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, var(--main-bg-color-primary), var(--main-bg-color-secudary));
  padding: 0 !important;
}

.navbar-brand img {
  height: 50px;
  padding-left: 40px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: var(--font-color-white) !important;
  font-weight: 600;
  float: right;
  text-align: left;
  text-transform: uppercase;
}

.fa-bars {
  color: var(--font-color-white);
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

/*------------------------------banner section-------------------------------*/

#banner {
  background-image: linear-gradient(to right, var(--main-bg-color-primary), var(--main-bg-color-secudary));
  color: var(--font-color-white);
  padding-top: 5%;
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

.fa-youtube-play {
  margin-left: 5px;
  margin: 20px;
}

#banner a {
  color: var(--font-color-white);
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
}

#banner a:hover {
  color: #4d4d4d;
}

#fluid-youtube{
  transition: 0.5s;
}
#fluid-youtube:hover {
  transform: translateY(-10px);
}

#bottom-img {  
  min-width: 100%;  
  margin-bottom: -3px;
}

#bottom-img::before {} 


.img-car-banner {
  max-height: 30rem;
}

/*------------services section------------*/
#services {
  padding: 80px 0;
}

.services-img{
  width: 200px;
  margin-top: 20px;
}

.services {
  padding: 20px;
}

.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.title::before{
  content: '';
  background: var(--main-bg-color-primary);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after{
  content: '';
  background: var(--main-bg-color-primary);
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, var(--main-bg-color-primary), var(--main-bg-color-secudary));
}

/*-----------------------------about-us section---------------------------*/

#about-us {
  background: #fff;
  padding-bottom: 100px;
  padding-top: 50px;
}

/*-------------------------pesquisadores-----------*/

.swiper-container {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 380px;
  background: #262626;
  color: #fff;
}
.swiper-slide .imgBx {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.swiper-slide .imgBx img {
  width: 100%;
}
.swiper-slide .details {
  box-sizing: border-box;  
  padding: 20px;
}
.swiper-slide .details h3{
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 20px;
}
.swiper-slide .details h3 span {
  font-size: 16px;
  color: var(--font-color-pink);
}

/*------------------Parceiros --------------*/
#parceiros {
  background: #fff;
  padding: 100px 0;
}
#parceiros img {
  width:250px;
  padding-top: 50px;
}


/*-----------------------social media-------------------------------*/
#social-media {
  background: #fff;
  padding: 100px 0;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img {
  width: 200px;
  padding: 40px;
  transition: 0.5s;
}

.social-icons a:hover img {
  transform: translateY(-10px);
}

/*---------------------------footer-------------------*/
#footer {
  background-image: linear-gradient(to right, var(--main-bg-color-primary), var(--main-bg-color-secudary));
  color: #fff;  
}

#footer-img{
  width: 100%;  
  margin-top: -3px;
}
#footer-img::before{
  width: 100%;  
}
.footer-box {
  padding: 20px;   
}

.footer-box img {
  width: 100px;
  margin-bottom: 20px; 
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  color: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  background-image: linear-gradient(to right, var(--main-bg-color-primary), var(--main-bg-color-secudary));
}
.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 30px;
  background-image: linear-gradient(to right, var(--main-bg-color-primary), var(--main-bg-color-secudary));
}

hr {
  background-color: #fff;
}

.copyright {
  margin-bottom: 0px;
  padding-bottom: 20px;
  text-align: center;
}
.copyright a {
  text-decoration: none !important;
  color: #fff;  
}

.copyright a:hover {
  color: #4d4d4d; 
}

#conteudo-pesquisa {
  margin: 50px auto;
  padding: 10px;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

#conteudo-pesquisa h3 {
  margin-bottom: 50px;  
}

.owl-carousel{
  width: 100%;
  height: 320px;
  max-height: 330px;
}

.owl-carousel .owl-item .login_img{
  float: right;
  width: 500px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 3rem;
}

.owl-dots{
  position: fixed;
  padding: 3rem 1.2rem;
  display: flex !important;
  flex-direction: column;
  transform: translateY(-240px);
}

.owl-dots button{
  border-radius: 5rem;
  margin: .3rem 0;
}

.owl-dots button span{
  background: var(--text-color) !important;
  margin: 0rem .6rem !important;
}

.owl-dots .active{
  border: 1px solid #ffd765 !important;
}

.owl-dots .active span{
  background: #ffd765 !important;
  margin: .3rem .5rem !important;
}

